<!-- myapp/templates/home.html -->
{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
    <div class="text">
        <h1>WELCOME TO MY-LIFE</h1>
        <p>Join us and start saving up your life achievement for your loved ones,<br>because everyday we wake up and go out there to make our daily bread...only God can gurantee our safety back home. <br>Use this moment now and start making life easy for the next generation you bringing into the world and for the love once you will leave while you are gone.</p>
    </div>
    <div class="image">
        <img src="https://images.unsplash.com/photo-1483546363825-7ebf25fb7513?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Sample Image">
    </div>
</div>
{% endblock %}
